[Unit]
Description=Set kernel args on first boot
DefaultDependencies=no
After=systemd-remount-fs.service local-fs.target
Before=graphical.target
ConditionPathExists=!/var/lib/app-choice-subscription/reset-kargs.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/reset-kargs.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
