[Unit]
Description=Entoll uBlue MOK keys required for drivers
After=plymouth-start.service
Before=graphical.target display-manager.service plymouth-quit.service
Conflicts=shutdown.target
ConditionKernelCommandLine=!recovery

[Service]
Type=oneshot
ExecStart=/usr/libexec/borshevik/setup-borshevik-mok.sh
RemainAfterExit=no
StandardOutput=journal+console

[Install]
WantedBy=graphical.target
