[Unit]
Description=Ensure correct kernel arguments
After=plymouth-start.service setup-ublue-mok.service
Before=graphical.target display-manager.service plymouth-quit.service
Conflicts=shutdown.target
ConditionKernelCommandLine=!recovery

[Service]
Type=oneshot
ExecStart=/usr/libexec/borshevik/setup-kargs.sh
RemainAfterExit=no
StandardOutput=journal+console

[Install]
WantedBy=graphical.target
