[Unit]
Description=Ensure correct kernel arguments
DefaultDependencies=no
After=systemd-udev-settle.service
Before=display-manager.service plymouth-quit.service
Conflicts=shutdown.target
ConditionKernelCommandLine=!recovery

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-kargs.sh
RemainAfterExit=no
StandardOutput=journal+console

[Install]
WantedBy=graphical.target
