[Unit]
Description=Set kernel args on first boot
DefaultDependencies=no
After=systemd-remount-fs.service local-fs.target systemd-udev-settle.service
Before=plymouth-quit.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-kargs.sh
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
