[Desktop Entry]
Type=Application
Version=1.0

Name=GoXRay
Name[ru]=GoXRay

Comment=Proxy and VPN client
Comment[ru]=Прокси и VPN клиент

Exec=/usr/lib/goxray/desktop
Icon=GoXRay
Terminal=false
StartupNotify=true

Categories=Network;
Keywords=vpn;proxy;xray;vless;tun;
Keywords[ru]=впн;прокси;
