[Desktop Entry]
Type=Application

Name=Hiddify (VPN)
Name[ru]=Hiddify (VPN)

Comment=Proxy and VPN client powered by sing-box
Comment[ru]=Прокси и VPN клиент на базе sing-box

Exec=/usr/bin/hiddify %U
Icon=hiddify
Terminal=false
StartupNotify=true
StartupWMClass=app.hiddify.com
Categories=Network;
MimeType=x-scheme-handler/hiddify;x-scheme-handler/v2ray;x-scheme-handler/clash;x-scheme-handler/sing-box;
Keywords=vpn;proxy;vless;vmess;sing-box;tun;
Keywords[ru]=впн;прокси;
