[Desktop Entry]
Type=Application
Version=1.0
Name=Borshevik Image Manager
Name[ru]=Borshevik Image Manager
Comment=Manage updates
Comment[ru]=Управление образами системы
Exec=borshevik-image-manager
Icon=org.borshevik.ImageManager
Terminal=false
StartupNotify=true
DBusActivatable=false

Keywords=update;system;upgrade;
Keywords[ru]=обновление;систем;