[Desktop Entry]
Type=Application
Version=1.0

Name=v2rayA
Name[ru]=v2rayA

Comment=Proxy and VPN client
Comment[ru]=Прокси и VPN клиент

Exec=google-chrome-stable --app=http://localhost:2017
Icon=v2raya
Terminal=false
StartupNotify=true

Categories=Network;
Keywords=vpn;proxy;v2ray;tun;
Keywords[ru]=впн;прокси;
