name: Build ISOs

on:
  workflow_dispatch:
  workflow_call:

env:
  IMAGE_REGISTRY: "ghcr.io/${{ github.repository_owner }}"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-iso
  cancel-in-progress: true

jobs:
  build-iso:
    name: Build ISOs
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        image_name:
          - borshevik
          - borshevik-nvidia
        major_version:
          - 43
    steps:
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Set Image Tag
        id: generate-tag
        run: |
          TAG="latest"
          if [[ "${{ github.ref }}" == "refs/heads/stable" ]]; then
            TAG="stable"
          fi
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

      - name: Lowercase Registry
        id: registry_case
        uses: ASzc/change-string-case-action@d0603cd0a7dd490be678164909f65c7737470a7f # v6
        with:
          string: ${{ env.IMAGE_REGISTRY }}

      - name: Pick bootc-switch template
        id: pick-templates
        run: |
          BRANCH_NAME="${GITHUB_REF##*/}"

          if [[ "$BRANCH_NAME" == "stable" ]]; then
            if [[ "${{ matrix.image_name }}" == *-nvidia ]]; then
              echo "SWITCH_TPL=/github/workspace/installer/lorax_templates/bootc-switch-nvidia-stable.tmpl" >> "$GITHUB_ENV"
            else
              echo "SWITCH_TPL=/github/workspace/installer/lorax_templates/bootc-switch-stable.tmpl" >> "$GITHUB_ENV"
            fi
          else
            if [[ "${{ matrix.image_name }}" == *-nvidia ]]; then
              echo "SWITCH_TPL=/github/workspace/installer/lorax_templates/bootc-switch-nvidia.tmpl" >> "$GITHUB_ENV"
            else
              echo "SWITCH_TPL=/github/workspace/installer/lorax_templates/bootc-switch.tmpl" >> "$GITHUB_ENV"
            fi
          fi

      - name: Build flatpak refs string
        id: refs
        shell: bash
        run: |
          REFS="$(grep -Ev '^\s*(#|$)' installer/flatpaks/default | tr -d '\r' | paste -sd' ' -)"
          echo "refs=$REFS" >> "$GITHUB_OUTPUT"

      - name: Build ISO
        id: build
        uses: jasonn3/build-container-installer@c9ef3de33236e66781ec37bd0485e8009eaefe24 # v1.4.0
        with:
          enable_cache_dnf: "false"
          enable_cache_skopeo: "false"
          arch: x86_64
          image_name: ${{ matrix.image_name }}
          image_repo: ${{ steps.registry_case.outputs.lowercase }}
          image_tag: ${{ steps.generate-tag.outputs.tag }}
          version: ${{ matrix.major_version }}
          variant: ${{ matrix.image_name }}
          iso_name: ${{ matrix.image_name }}-${{ steps.generate-tag.outputs.tag }}-${{ matrix.major_version }}.iso
          additional_templates: |
            /github/workspace/installer/lorax_templates/partitioning.tmpl
            ${{ env.SWITCH_TPL }}

      - name: Move ISOs to Upload Directory
        id: upload-directory
        run: |
          ISO_UPLOAD_DIR=${{ github.workspace }}/upload
          mkdir -p "${ISO_UPLOAD_DIR}"
          mv "${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}" "${ISO_UPLOAD_DIR}"
          mv "${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}-CHECKSUM" "${ISO_UPLOAD_DIR}"
          echo "iso-upload-dir=${ISO_UPLOAD_DIR}" >> $GITHUB_OUTPUT

      - name: Upload ISOs and Checksum to Job Artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        with:
          name: ${{ matrix.image_name }}-${{ steps.generate-tag.outputs.tag }}-${{ matrix.major_version }}
          path: ${{ steps.upload-directory.outputs.iso-upload-dir }}
          if-no-files-found: error
          retention-days: 0
          compression-level: 0
          overwrite: true
